.git
.gitignore
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.coverage.*
htmlcov
dist
build
*.egg-info
artifacts/*
!artifacts/.gitkeep
data/*
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/load_ready/
!data/load_ready/.gitkeep
!data/feature_ready/
!data/feature_ready/.gitkeep
!data/feature_store/
!data/feature_store/.gitkeep
!data/analytics_marts/
!data/analytics_marts/.gitkeep
